- if current_reader.is_registered_for_conference?
  %p You are registered for our #{link_to "annual conference", reader_dashboard_path}.
- else
  %p You are not registered for our annual conference. #{link_to "Register online", new_conference_subscription_path } or alternatively download a #{link_to "subscription form"} you can post with your cheque.