- if current_reader.is_registered_for_conference?
  %p You are registered for our #{link_to "annual conference", reader_dashboard_path}.
  %p Have a look at #{link_to "your receipt", receipt_conference_subscription_path(current_reader.conference_subscription) } to see what your program looks like.
- else
  - confhome = Group.conference_groups_holder.homepage
  %p
    You are not registered for our annual conference. #{link_to "Register online", new_conference_subscription_path }
    - if asset = confhome.assets.find_by_asset_content_type('application/pdf')
      or alternatively download a #{link_to "subscription form", asset.thumbnail('original'), :target => "_blank"} you can post with your cheque.
